/* web-fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body,header,h1,h2,h3,small,p {
    font-family: 'Open Sans', sans-serif;
}

/* code resue
    Ref: https://stackoverflow.com/questions/21360519/jquery-fadein-on-page-load
*/
div.hidden {
    display: none
}
/* code reuse
  Ref: https://developer.mozilla.org/en-US/docs/Web/CSS/hyphens
*/
body {
    color: #ccc;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
}
/* code reuse:
    Ref: https://www.w3schools.com/cssref/css3_pr_text-shadow.asp
*/
h1 {
    text-transform: uppercase;
    color: #ccc;
    text-shadow: 2px 2px 4px #000000;
}
h2, h3, p, li, small {
    color: #ccc;
    text-shadow: 2px 2px 4px #000000;
}
/* code reuse:
    Ref: 
    https://www.w3schools.com/css/css_image_transparency.asp
    https://www.w3schools.com/css/css3_images.asp
*/
img {
    opacity: 0.9;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    border-radius: 8px;
}
.profile_img {
    opacity: 0.9;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    border-radius: 8px;
    width: 100%;
    height: auto;
}
.help_img {
    opacity: 0.9;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    border-radius: 8px;
    height: 65%;
    width: 65%;
}
/* code reuse
    https://objectpartners.com/2013/05/13/adding-a-sliding-menu-to-your-jquery-mobile-app/ 
*/  
.ui-panel-inner {
    padding: 0px;
    /*make the buttons flush edge to edge*/
}
.ui-controlgroup {
    margin: 0;
    /*make the buttons flush to the top*/
}
#header {
    height: 51px;
}
#footer {
    height: 51px;
}
#bars-button {
    margin: 0px;
}
/* code reuse
    Ref: http://demos.jquerymobile.com/1.4.4/panel-styling/
/*    
/* Adjust the width of the left reveal menu. */
#left-panel.ui-panel {
    width: 15em;
}
#left-panel.ui-panel-closed {
    width: 0;
}
.ui-panel-page-content-position-left,
.ui-panel-dismiss-open.ui-panel-dismiss-position-left {
    left: 15em;
    right: -15em;
}
.ui-panel-animate.ui-panel-page-content-position-left.ui-panel-page-content-display-reveal {
    left: 0;
    right: 0;
    -webkit-transform: translate3d(15em,0,0);
    -moz-transform: translate3d(15em,0,0);
    transform: translate3d(15em,0,0);
}
/* Listview with collapsible list items. */
.ui-listview > li .ui-collapsible-heading {
  margin: 0;
}
.ui-collapsible.ui-li-static {
  padding: 0;
  border: none !important;
}
.ui-collapsible + .ui-collapsible > .ui-collapsible-heading > .ui-btn {
  border-top: none !important;
}
/* Nested list button colors */
.ui-listview .ui-listview .ui-btn {
    background: #fff;
}
.ui-listview .ui-listview .ui-btn:hover {
    background: #f5f5f5;
}
.ui-listview .ui-listview .ui-btn:active {
    background: #f1f1f1;
}
/* Reveal panel shadow on top of the listview menu (only to be used if you don't use fixed toolbars) */
.ui-panel-display-reveal {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.ui-panel-page-content-position-left {
    -webkit-box-shadow: -5px 0px 5px rgba(0,0,0,.15);
    -moz-box-shadow: -5px 0px 5px rgba(0,0,0,.15);
    box-shadow: -5px 0px 5px rgba(0,0,0,.15);
}
/* Setting a custom background image. */
.ui-page-theme-a,
.ui-panel-wrapper {
    background-size: cover;
    background-image: url("images/dark_background.jpg");
    background-repeat: repeat-x;
    background-position: left bottom;
}
/* code reuse: code formated text
    Ref: https://stackoverflow.com/questions/4000792/how-can-i-style-code-listings-using-css
*/
pre {
    background: black;
    border: 1px solid #ddd;
    border-left: 3px solid lightblue;
    color: white;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
}